<div class="container">
    <h2 class="fs-1 text-info fw-bold text-center">Login Page</h2>
    <h3 class="text-center">Beyond to the world</h3>
    <div class="row">
        <div class="m-auto col-6 p-0">
            <% if(typeof message != 'undefined'){%>
            <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                <symbol id="check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
            </svg>
            <div class="alert alert-success d-flex align-items-center p-1" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="16px" height="16px" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    <%= message %>
                </div>
            </div>
                <%} %>
        </div>
    </div>
            <div class="row">
                <div class="m-auto col-6 border border-2 rounded-3 ">
                    <div class="row">
                        <form method="post" action="/users/login">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <p>Haven't register yet? <a href="/users/register">Click here</a> to register</p>
                        </form>
                    </div>
                </div>
            </div>
</div>